@font-face {
    font-family: 'TT Neoris Trial';
    font-style: normal;
    font-weight: 500;
    src: local('TT Neoris Trial'),
        url(../fonts/TT_Neoris_Trial_Medium.ttf),
        // url(../fonts/);
}

@font-face {
    font-family: 'TT Neoris Trial';
    font-style: normal;
    font-weight: 400;
    src: local('TT Neoris Trial'),
        url(../fonts/TT_Neoris_Trial_Regular.ttf),
        // url(../fonts/);
}