// Шрифты
@import "_fonts";
// Обнуление стилей
@import "_clear-styles";
// Сетка сайта
@import "./grid/init";
// Stylekit
@import "_stylekit";

.products {
    &__wrapper {}

    &__block {
        display: flex;
        gap: 10px;

        @include bp(lg) {
            flex-wrap: wrap;
        }

        @include bp(md) {
            flex-wrap: unset;
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        flex: 1;
        height: 580px;
        cursor: pointer;
        transition: 1s;

        @include bp(lg) {
            flex: unset;
            width: 32.6%;
        }

        @include bp(md) {
            width: 100%;
        }

        @include bp(sm) {
            height: 220px;
        }

        &:hover {
            flex: 2.05;
            transition: 1s;

            .products__icon {
                opacity: 1;
                transition: 1s ease;
            }

            h4 {
                padding-right: 60px;
                color: #FFFFFF;
                transition: .5s ease;
            }

            @include bp(lg) {
                flex: unset;
                transition: unset;
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }

    &__blackout {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #20385A66;
        transition: 1s;

        &:hover {
            background: unset;
            transition: 1s;
        }
    }

    &__card-link {
        z-index: 5;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 16px;
        width: 100%;
        height: 68px;
        padding: 24px;
        background: #03041D33;

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #FFFFFF80;
            transition: 1s ease;

            @include bp(lg) {
                padding-right: 60px;
            }
        }
    }

    &__icon {
        width: 100%;
        max-width: 48px;
        height: 48px;
        opacity: 0; /* начальная прозрачность - элемент невидимый */
        position: absolute; /* абсолютное позиционирование, чтобы разместить иконку над изображением */
        top: 50%; /* позиция по вертикали в центре относительно родительского элемента */
        right: 0; /* позиция по горизонтали в центре относительно родительского элемента */
        transform: translate(-50%, -50%); /* центрирование иконки */
        transition: 0.5s ease; /* анимация прозрачности */

        @include bp(lg) {
            opacity: 1;
        }
    }
}