// Шрифты
@import "_fonts";
// Обнуление стилей
@import "_clear-styles";
// Сетка сайта
@import "./grid/init";
// Stylekit
@import "_stylekit";

.html {
    scroll-behavior: smooth;
}

.page {
    overflow: hidden;
}

.header {
    position: fixed;
    z-index: 10;
    width: 100%;

    &__desktop {
        position: relative;

        @include bp(md) {
            display: none;
        }

        // ::::::::::::::::::::::::::::::::::::АНИМАЦИЯ:::::::::::::::::::::::::::::::::::: //
        .header__desktop-cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 252, 245, 1) 0%, rgba(255, 252, 245, 0) 100%);
            transition: all .6s;
        }

        // Поднять
        .header-scroll {
            animation: myAnimation .6s ease-in-out forwards;

            @keyframes myAnimation {
                from {
                    top: 0;
                }

                to {
                    opacity: 0;
                    top: -90px;
                }
            }
        }

        // Опустить
        .header-scroll-two {
            animation: myAnimation2 .6s ease-in-out forwards;

            @keyframes myAnimation2 {
                from {
                    top: -90px;
                    // opacity: 0;
                }

                to {
                    top: 0;
                    opacity: 1;
                    // background: rgb(255, 252, 245);
                }
            }
        }

        .header__desktop-cover-scroll {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 40px;
            opacity: 0;
            background: #FFFCF5;
            transition: all .6s;
        }

        // Появление
        .header-scroll-three {
            animation: myAnimation3 .6s ease-in-out forwards;

            @keyframes myAnimation3 {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }

        // Исчезновение
        .header-scroll-four {
            animation: myAnimation4 .4s ease-in-out forwards;

            @keyframes myAnimation4 {
                from {
                    opacity: 1;
                }

                to {
                    // top: -100%;
                    opacity: 0;
                }
            }
        }

        // ::::::::::::::::::::::::::::::::::::АНИМАЦИЯ:::::::::::::::::::::::::::::::::::: //

        .header__wrapper {
            position: relative;
        }

        .header__wrapper .col {
            position: relative;
            z-index: 10;
        }

        .header__top {
            display: flex;
            justify-content: space-between;
        }

        .header__top ul {
            display: flex;
            gap: 32px;
        }

        .header__contact {
            display: flex;
            gap: 16px;
        }

        .header__v-line {
            border-right: 1px solid #303030;
        }

        .header__main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
        }

        .header__logo-desk {
            width: 100%;
            max-width: 170px;
            height: 36px;
            background: url('/assets/icon/header_logo_desk.svg') no-repeat center;
        }

        .header__average {
            display: flex;
            gap: 24px;
            width: 100%;
            max-width: 1010px;
        }

        .header__search-container {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            max-width: 595px;

            // &:hover {
            //     .header__search-icon {
            //         background: url('/assets/icon/header_search_icon_hover.svg') no-repeat center;
            //     }
            // }
        }

        .header__search-input {
            padding: 12px 24px;
            outline: none;
            width: 100%;
            background: unset;
            border-bottom: 1px solid #333333;
        }

        .header__search-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url('/assets/icon/header_search_icon.svg');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .header__search-icon.active {
            background: url('/assets/icon/header_search_icon_close.svg');
        }

        .header__right {
            display: flex;
            gap: 32px;
        }

        .header__icons {
            display: flex;
            gap: 24px;
        }

        .header__comparison {
            width: 48px;
            height: 48px;
            background: url('/assets/icon/header_comparison_icon_primary.svg') no-repeat center;
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                background: url('/assets/icon/header_comparison_icon_primary_hover.svg') no-repeat center;
                transition: all 0.5s;
            }
        }

        .header__basket {
            width: 48px;
            height: 48px;
            background: url('/assets/icon/header_basket_icon_primary.svg') no-repeat center;
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                background: url('/assets/icon/header_basket_icon_primary_hover.svg') no-repeat center;
                transition: all 0.5s;
            }
        }

        .header__ctoggleButton {
            position: relative;
        }

        .header__toggle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .open-catalog {
            animation: scale-up-ver-top .6s cubic-bezier(0.645, 0.045, 0.355, 1.000) alternate both;
        }

        @keyframes scale-up-ver-top {
            0% {
                transform: scaleY(0);
                transform-origin: 100% 0%;
            }

            100% {
                transform: scaleY(1);
                transform-origin: 100% 0%;
            }
        }

        .close-catalog {
            animation: scale-down-ver-top .6s cubic-bezier(0.645, 0.045, 0.355, 1.000) alternate both;
        }

        @keyframes scale-down-ver-top {
            0% {
                transform: scaleY(1);
                transform-origin: 100% 0%;
            }

            100% {
                transform: scaleY(0);
                transform-origin: 100% 0%;
            }
        }

        .header-click {
            background: #FFFFFF;
            // transition: all 0.5s;

            .button-block__icon {
                background: url("/assets/icon/header_search_icon_close.svg");
                // transition: all 0.5s;
            }

            p {
                color: #4F4F4F;
                // transition: all 0.5s;
            }
        }

        .header__catalog {
            height: 100vh;
            background: #FFFCF5;


            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
            transform: scaleY(0);
        }

        .header__catalog .container {
            overflow-y: scroll;
            // max-height: 500px;
        }

        /* Цвет фона полосы прокрутки */
        .container::-webkit-scrollbar {
            width: 10px;
            /* Ширина полосы прокрутки */
        }

        .container::-webkit-scrollbar-track {
            background: #f1f1f1;
            /* Цвет фона полосы прокрутки */
        }

        /* Цвет самой полосы прокрутки */
        .container::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 8px;
            /* Цвет самой полосы прокрутки */
        }

        .header__catalog-block {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            padding-left: 20%;
            height: 50vh;
            opacity: 0;

            @include bp(lg) {
                padding-left: unset;
            }
        }

        .header__menu-bottom {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            // width: 100%;
            // max-width: 680px;

        }

        .header__category-block {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .header__category-item h4,
        li {
            width: fit-content;
            cursor: pointer;
        }

        .header__category-item .header__subcategory-list {
            max-height: 0;
            overflow: hidden;
            transition: max-height 1.5s ease;
        }

        .header__category-item:hover .header__subcategory-list {
            max-height: 400px;
            /* Максимальная высота для раскрытия списка */
        }

        .header__category-item li {
            transition: .5s ease;
            border-bottom: 1px solid transparent;
            transition: border-bottom 1s ease;

            &:hover {
                color: #303030;
                border-bottom: 1px solid #303030;

                a {
                    color: #303030;
                    transition: .5s ease;
                }
            }
        }

        .header__main-menu-item a {
            transition: .5s ease;
            border-bottom: 1px solid transparent;
            transition: border-bottom 1s ease;

            &:hover {
                color: #303030;
                border-bottom: 1px solid #303030;
            }
        }

        .header__main-menu-item {
            display: flex;
            flex-direction: column;
            gap: 12px;
            display: none;
        }

        .header__main-menu-item a {
            display: block;
            width: fit-content;
        }

        .header__catalog-promo {
            position: relative;
            display: flex;
            align-items: end;
            justify-content: center;
            width: 320px;
            max-height: 435px;
            padding-bottom: 16px;
        }

        .header__catalog-promo .header__image {
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;

            img {
                height: 100%;
            }
        }

        .button-block__transparent-small {
            @include bp(lg) {
                display: none;
            }
        }
    }

    // Стили для десктопа, для прозрачного фона
    .transparent {

        .button-block__transparent-small {
            background: var(--bg-white-opasity20);
            outline: 1px solid var(--bg-white);
            // transition: all 1.5s;

            p {
                color: var(--text-white);
                // transition: all 1.5s;
            }

            &:hover {
                background: var(--bg-white);

                p {
                    color: var(--text-primary);
                }
            }
        }

        .button-block__small-list {
            background: var(--bg-white);

            .button-block__icon {
                background: url('/assets/icon/small_list_icon_black.svg') no-repeat center;
            }

            p {
                color: var(--text-primary);
            }
        }

        .header__search-input {
            border-bottom: 1px solid #FFFFFF;
            color: #FFFFFF;
            transition: all 1.5s;

            &::placeholder {
                color: #FFFFFF;
                transition: all 1.5s;
            }
        }

        .header__search-icon {
            background: url('/assets/icon/header_search_icon_white.svg');
            // transition: all 1.5s;
        }

        .header__search-icon.active {
            background: url('/assets/icon/header_search_icon_close_white.svg');
            // transition: all 1.5s;
        }
    }

}

.header-padding {
    padding-top: 192px;
}

.main-cover {
    background: #FFFCF5;
    position: relative;
    height: 100vh;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }

    &__desk {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 300px;

        .row {
            @include bp(md) {
                gap: 24px;
            }
        }
    }

    .swiper {
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        align-items: flex-end;
    }

    .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        bottom: 300px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #BDBDBD;
    }

    .swiper-scrollbar-drag {
        height: 6px;
        background: #FFFFFF;
        border-radius: 0;
    }

    .swiper-button-next {
        top: unset;
        bottom: 200px;
        right: 50px;
        width: 48px;
        height: 48px;
        background: url('/assets/icon/main_cover_btn_icon.svg') no-repeat center;

        @include bp(sm) {
            display: none;
            bottom: 8px;
        }
    }

    .swiper-button-prev {
        top: unset;
        bottom: 200px;
        left: unset;
        right: 110px;
        width: 48px;
        height: 48px;
        background: url('/assets/icon/main_cover_btn_icon.svg') no-repeat center;
        transform: rotate(180deg);

        @include bp(sm) {
            display: none;
            bottom: 8px;
        }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
}

.products {
    &__wrapper {}

    &__head {
        display: flex;
        align-items: end;
        gap: 24px;

        @include bp(sm) {
            flex-direction: column;
            align-items: unset;
            gap: 6px;
        }
    }

    .button-block {
        padding-bottom: 10px;

        @include bp(md) {
            padding-bottom: unset;
        }
    }

    &__block {
        display: flex;
        gap: 10px;

        @include bp(lg) {
            flex-wrap: wrap;
        }

        @include bp(md) {
            flex-wrap: unset;
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        flex: 1;
        height: 580px;
        cursor: pointer;
        transition: 1s;

        @include bp(lg) {
            flex: unset;
            width: 32.6%;
        }

        @include bp(md) {
            width: 100%;
        }

        @include bp(sm) {
            height: 220px;
        }

        &:hover {
            flex: 2.05;
            transition: 1s;

            .products__icon {
                opacity: 1;
                transition: 1s ease;
            }

            h4 {
                padding-right: 60px;
                color: #FFFFFF;
                transition: .5s ease;
            }

            @include bp(lg) {
                flex: unset;
                transition: unset;
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }

    &__blackout {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #20385A66;
        transition: 1s;

        &:hover {
            background: unset;
            transition: 1s;
        }

        @include bp(md) {
            display: none;
        }
    }

    &__card-link {
        z-index: 5;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 16px;
        width: 100%;
        height: 68px;
        padding: 24px;
        background: #03041D33;

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #FFFFFF80;
            transition: 1s ease;

            @include bp(lg) {
                padding-right: 60px;
            }

            @include bp(md) {
                color: #FFFFFF;
            }
        }
    }

    &__icon {
        width: 100%;
        max-width: 48px;
        height: 48px;
        opacity: 0;
        /* начальная прозрачность - элемент невидимый */
        position: absolute;
        /* абсолютное позиционирование, чтобы разместить иконку над изображением */
        top: 50%;
        /* позиция по вертикали в центре относительно родительского элемента */
        right: 0;
        /* позиция по горизонтали в центре относительно родительского элемента */
        transform: translate(-50%, -50%);
        /* центрирование иконки */
        transition: 0.5s ease;
        /* анимация прозрачности */

        @include bp(lg) {
            opacity: 1;
        }
    }
}

.products-page {
    &__wrapper {}

    &__head {
        display: flex;
        align-items: end;
        gap: 24px;

        @include bp(sm) {
            flex-direction: column;
            align-items: unset;
            gap: 6px;
        }
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;

        // @include bp(lg) {
        //     flex-wrap: wrap;
        // }

        // @include bp(md) {
        //     flex-wrap: unset;
        //     flex-direction: column;
        // }
    }

    &__item {
        position: relative;
        // flex: 1;
        display: block;
        height: 580px;
        cursor: pointer;
        // transition: 1s;

        // @include bp(lg) {
        //     flex: unset;
        //     width: 32.6%;
        // }

        // @include bp(md) {
        //     width: 100%;
        // }

        @include bp(sm) {
            height: 220px;
        }

        &:hover {
            // flex: 2.05;
            // transition: 1s;

            .products__icon {
                opacity: 1;
                transition: 1s ease;
            }

            h4 {
                padding-right: 60px;
                color: #FFFFFF;
                transition: .5s ease;
            }

            @include bp(lg) {
                flex: unset;
                transition: unset;
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }

    &__blackout {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #20385A66;
        transition: 1s;

        &:hover {
            background: unset;
            transition: 1s;
        }

        @include bp(md) {
            display: none;
        }
    }

    &__card-link {
        z-index: 5;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 16px;
        width: 100%;
        height: 68px;
        padding: 24px;
        background: #03041D33;

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #FFFFFF80;
            transition: 1s ease;

            @include bp(lg) {
                padding-right: 60px;
            }

            @include bp(md) {
                color: #FFFFFF;
            }
        }
    }

    &__icon {
        width: 100%;
        max-width: 48px;
        height: 48px;
        opacity: 0;
        /* начальная прозрачность - элемент невидимый */
        position: absolute;
        /* абсолютное позиционирование, чтобы разместить иконку над изображением */
        top: 50%;
        /* позиция по вертикали в центре относительно родительского элемента */
        right: 0;
        /* позиция по горизонтали в центре относительно родительского элемента */
        transform: translate(-50%, -50%);
        /* центрирование иконки */
        transition: 0.5s ease;
        /* анимация прозрачности */

        @include bp(lg) {
            opacity: 1;
        }
    }
}

.confidence {
    position: relative;
    overflow: hidden;
    height: 946px;
    background: #022873;

    @include bp(md) {
        height: 700px;
    }

    &__wrapper {
        display: flex;
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;

        @include bp(lg) {
            right: -200px;
        }

        @include bp(sm) {
            display: flex;
            align-items: end;
            right: -70px;
        }

        img {
            height: 100%;

            @include bp(sm) {
                height: 425px;
            }
        }
    }
}

.confidence {

    &__wrapper {
        display: flex;
        align-items: center;

        @include bp(md) {
            flex-direction: column;
            gap: 80px;
        }
    }
}

.projects {

    &__item .row {
        @include bp(md) {
            gap: 24px;
        }
    }

    &__image {
        height: 0;
        overflow: hidden;
        transition: height .4s ease;

        // img {
        //     height: 100%;
        // }
    }

    &__desk-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__deskcription {
        padding-right: 50px;

        @include bp(md) {
            padding-right: 32px;
        }
    }

    &__content {
        height: 0;
        overflow: hidden;
        transition: height .5s ease;
    }

    &__ctoggleButton {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        // background: url('/assets/icon/projects_ctoggleButton_open.svg');
    }

    // Кнопка раскрытия
    &__toggle {
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    &__bottom-block {
        display: flex;

        div {
            flex: 1;
        }
    }

    &__tag {
        display: flex;
        gap: 4px;

        img {
            width: 16px;
            height: 16px;
        }
    }
}

.partners {
    position: relative;
    // overflow: hidden;

    .button-block {
        padding-bottom: 10px;

        .button-block__btn-link:hover {
            border-bottom: 1px solid #FFFFFF;
        }

        @include bp(md) {
            padding-bottom: unset;
        }

        .button-block__icon {
            background: url('/assets/icon/btn_link_icon_white.svg') no-repeat center;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('/assets/image/main_general.jpg') no-repeat top;
        background-size: cover;
        background-attachment: fixed;
    }

    &__wrapper {
        position: relative;
        z-index: 5;
    }

    &__header {
        display: flex;
        align-items: flex-end;
        gap: 24px;

        @include bp(sm) {
            flex-direction: column;
            align-items: unset;
            gap: 12px;
        }
    }

    .swiper {}

    .swiper-slide {
        width: fit-content;
    }

    .swiper-slide img {
        width: 299px;
        height: 122px;
    }
}

.news-articles {

    position: relative;
    z-index: 5;
    // transform: translate(100%, 0px);

    a {
        &:hover {
            .news-articles__image {
                img {
                    scale: 1.1;
                }
            }
        }
    }

    .button-block {
        padding-bottom: 10px;

        @include bp(md) {
            padding-bottom: unset;
        }
    }

    &__header {
        display: flex;
        align-items: flex-end;
        gap: 24px;

        @include bp(sm) {
            flex-direction: column;
            align-items: unset;
            gap: 12px;
        }
    }

    &__block {
        display: flex;

        @include bp(md) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__image {
        overflow: hidden;

        img {
            transition: all 1s;

            @include bp(md) {
                height: 500px;
            }

            @include bp(sm) {
                height: 222px;
            }
        }
    }

    &__position-tag {
        display: flex;
        gap: 8px;
    }
}

.write {
    background: url('/assets/image/main_general.jpg') no-repeat bottom;
    background-size: cover;

    &__wrapper {
        display: flex;

        @include bp(md) {
            flex-direction: column;
            gap: 16px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    // gap: 24px;
    padding: 32px;

    @include bp(sm) {
        padding: 28px 16px;
    }

    &__group input {
        width: 100%;
        height: 48px;
        padding: 12px 0;
        background: unset;
        border-bottom: 1px solid #333333;
    }

    &__group textarea {
        overflow: hidden;
        width: 100%;
        height: 48px;
        padding: 12px 0;
        background: unset;
        border-bottom: 1px solid #333333;
        resize: none;
    }
}

.search-results {

    &__item {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        cursor: pointer;
    }

    &__icon {
        width: 100%;
        max-width: 32px;
        height: 32px;
        background: url('/assets/icon/search_results_icon.svg') no-repeat center;
    }
}

.cover-about {

    &__wrapper {
        background: url('/assets/image/cover_about_image.jpg') no-repeat center;
        background-size: cover;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        padding-top: 192px;

        @include bp(md) {
            gap: 64px;
            padding-top: 164px;
        }
    }

    &__item {
        @include bp(md) {
            text-align: center;
        }
    }

    &__item .font-h5 {
        width: 100%;
        max-width: 390px;

        @include bp(md) {
            max-width: unset;
        }
    }

    h1 {
        @include bp(md) {
            text-align: center;
        }
    }
}

.who {
    &__item {
        display: flex;

        @include bp(md) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__ul {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__li {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
}

.video {

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    video {
        width: 100%;
        max-width: 2560px;
        // height: 100vh;
        cursor: pointer;
    }
}

.high-rise {
    &__block {
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
    }
}

.principle {

    &__wrapper {
        position: relative;
    }

    &__image {
        position: absolute;
        left: -60px;

        @include bp(md) {
            position: unset;
            padding-bottom: 32px;
            transform: translateX(-20px);
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 70px;

        @include bp(md) {
            gap: 30px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 50px;
        border-bottom: 1px solid #FFFFFF;

        @include bp(lg) {
            flex-direction: column-reverse;
        }

        @include bp(md) {
            gap: 20px;
        }
    }

    .font-h3 {
        width: 100%;
        max-width: fit-content;
        text-align: right;

        @include bp(lg) {
            max-width: unset;
        }

        @include bp(md) {
            text-align: unset;
        }
    }
}

.job-company {
    &__content {
        display: flex;

        @include bp(md) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__header {
        display: flex;
        align-items: flex-end;
        gap: 24px;

        @include bp(sm) {
            flex-direction: column;
            align-items: unset;
            gap: 12px;
        }
    }

    .button-block {
        padding-bottom: 10px;

        .button-block__btn-link:hover {
            border-bottom: 1px solid #FFFFFF;
        }

        @include bp(md) {
            padding-bottom: unset;
        }

        .button-block__icon {
            background: url('/assets/icon/btn_link_icon_white.svg') no-repeat center;
        }
    }

    &__geo {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include bp(md) {
            align-items: unset;
        }
    }

    &__tag {
        display: flex;
        justify-content: flex-end;
        gap: 4px;

        @include bp(md) {
            justify-content: unset;
        }
    }

    &__icon {
        width: fit-content;

        img {
            max-width: fit-content;
            object-fit: contain;
        }
    }
}

.thank-you {

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-block {
        width: fit-content;
    }
}

.page404 {
    height: 100vh;

    &__wrapper {
        height: 100%;
        background: url('/assets/image/page404_image.jpg') no-repeat center;
        background-size: cover;
    }

    &__block {
        display: flex;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-block {
        width: fit-content;
    }
}

.catalog {
    &__block {
        display: flex;
    }

    &__ctoggleButton {
        width: 100%;
        max-width: 26px;
        height: 26px;
        background-size: contain;
    }

    &__toggle {
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    &__filters-name {
        display: flex;
        justify-content: space-between;
    }

    &__filters {
        // padding-right: 125px;
        padding-right: 55px;

        // @include bp(lg) {
        //     padding-right: unset;
        // }
    }

    &__filters-check {
        display: flex;
        justify-content: space-between;
    }

    &__filters-check input {
        width: 100%;
        max-width: 26px;
        height: 26px;
    }

    &__block-card {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__card-item {
        position: relative;
        flex: 1 0 32%; // flex-grow: 1, flex-shrink: 0, flex-basis: 32%
        max-width: 33%;
        height: 447px;
        background: gray;
        cursor: pointer;

        @include bp(lg) {
            flex: 1 0 49%;
            max-width: 50%;
        }

        @include bp(sm) {
            flex: 1 0 100%;
            max-width: 100%;
        }

        &:hover {
            .catalog__card-hover {
                opacity: 1;
                // height: 100%;
                transition: all .3s;
            }

            .catalog__bottom-icon {
                background: url("/assets/icon/header_basket_icon_primary_hover.svg") no-repeat center;
                transition: all .3s;
            }

            // .catalog__bottom-icon:active {
            //     opacity: .5;
            // }
        }
    }

    &__image-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }

    &__card-info {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
        // background: #03041D33;
        // backdrop-filter: blur(4px);
    }

    &__card-hover {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 16px 24px 0 24px;
        width: 100%;
        height: 100%;
        background: #03041D33;
        backdrop-filter: blur(4px);
        opacity: 0;
        transition: all .3s;
    }

    &__card-item-h {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .catalog__card-bottom {
        display: flex;
        gap: 16px;
        padding: 16px 24px;
        background: #03041D33;
        backdrop-filter: blur(4px);
    }

    &__bottom-icon {
        width: 100%;
        max-width: 48px;
        height: 48px;
        background: url("/assets/icon/header_basket_icon_primary.svg") no-repeat center;
        transition: all .3s;
    }

    // &__filters-check input[type="checkbox"]::before {
    //     content: "";
    //     display: inline-block;
    //     width: 24px;
    //     height: 24px;
    //     background-color: #FFFCF5;
    // }
}

.toddler {
    display: flex;
    align-items: center;
    gap: 10px;

    .input-block {
        display: flex;
    }

    input {
        // width: 100%;
        // max-width: 28px;
        width: 28px;
        background: unset;
    }

    .noUi-horizontal .noUi-handle {
        right: -6px;
        top: -5px;
        width: 12px;
        height: 12px;
        background: #4F4F4F;
        box-shadow: unset;
        border-radius: 50%;
    }

    .noUi-handle:after,
    .noUi-handle:before {
        content: unset;
    }

    .noUi-horizontal {
        width: 100%;
        height: 2px;
        border: unset;
    }

    .noUi-connect {
        background: #4F4F4F;
    }

    .noUi-connects {
        background: #A6A6A6;
    }
}

.catalog-desk {
    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 30px;
    }

    li {
        list-style: disc;
    }
}

.main-card {

    &__wrapper {
        display: flex;

        @include bp(md) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__image {
        width: 100%;
        height: 614px;
        background: #6980ae;
    }

    &__rating-block {
        display: flex;
        justify-content: space-between;
    }

    &__star-rating {
        font-size: 0;
    }

    &__star {
        font-size: 24px;
        color: #ccc;
        cursor: pointer;
    }

    &__star.fill {
        color: #D7192D;
    }

    &__icon-print {
        width: 100%;
        min-width: 32px;
        height: 32px;
        background: url('/assets/icon/print_black_32.svg') no-repeat center;
    }

    &__select {
        width: 100%;
        max-width: 315px;
        padding: 12px 16px;
        border: 1px solid #333333;
    }

    &__select option {
        border-radius: 0;
        background-color: #fff;
        color: #333;
    }

    &__block-colors {
        display: flex;
        gap: 16px;
    }

    &__item-color {
        width: 32px;
        height: 32px;
        background: gray;
        cursor: pointer;
    }

    &__bottom {
        display: flex;
        gap: 32px;
    }

    &__icon-comparison {
        width: 100%;
        max-width: 48px;
        height: 48px;
        background: url("/assets/icon/header_comparison_icon_primary_hover.svg") no-repeat center;
        cursor: pointer;
    }

    .button-block__red-large {
        @include bp(sm) {
            padding-right: unset;
            padding-left: unset;
        }
    }
}

.sticky-link {
    position: sticky;
    z-index: 10;
    top: 38px;
    display: block;

    // &--2 {
    //     top: calc(38px * 2);
    // }

    // &--3 {
    //     top: calc(38px * 3);
    // }

    // &--4 {
    //     top: calc(38px * 4);
    // }

    // &--5 {
    //     top: calc(38px * 5);
    // }

    // &--6 {
    //     top: calc(38px * 6);
    // }

    &__block {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__li {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #4F4F4F;
    }
}

.specification-card {
    overflow: hidden;

    &__table {
        white-space: nowrap;
        overflow-x: hidden;
        overflow-x: auto;
    }

    /* Цвет фона полосы прокрутки */
    .specification-card__table::-webkit-scrollbar {
        // width: 10px;
        height: 10px;
        /* Ширина полосы прокрутки */
    }

    .specification-card__table::-webkit-scrollbar-track {
        background: #f1f1f1;
        /* Цвет фона полосы прокрутки */
    }

    /* Цвет самой полосы прокрутки */
    .specification-card__table::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
        /* Цвет самой полосы прокрутки */
    }

    &__table-row {
        display: flex;
        padding: 16px 0;
        border-bottom: 1px solid #DBDBDB;

        &:first-child {
            border-bottom: unset;
        }
    }

    &__table-item {
        flex: 1;
        min-width: 100px;
    }
}

.description-card {
    &__block {
        display: flex;
    }

    .swiper-slide {
        width: 100%;
        max-width: 295px;
    }

    ul {
        padding-left: 20px;

        li {
            list-style-type: disc;
        }
    }
}

.documentation-card {

    &__block {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    &__item {
        display: flex;
        gap: 32px;
        padding: 24px;
    }

    &__image {
        width: 100%;
        max-width: 116px;

        img {
            object-fit: contain;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    // &__info a {
    //     display: block;
    // }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__icon {
        width: 100%;
        min-width: 32px;
        height: 32px;
        background: url('/assets/icon/download_icon_32.svg') no-repeat center;
    }
}

.accessories-card {
    &__block {
        display: flex;
    }

    .swiper-wrapper {
        cursor: grab;
    }

    .swiper-slide {
        width: 100%;
        max-width: 446px;
    }
}

.similar-card {
    &__block {
        display: flex;
    }

    .swiper-wrapper {
        cursor: grab;
    }

    .swiper-slide {
        width: 100%;
        max-width: 446px;
    }
}

.event {

    &__content {
        display: flex;
    }

    &__content--width {
        width: 100%;
        max-width: 887px;
    }

    ul {
        padding-left: 20px;

        li {
            list-style-type: disc;
        }
    }

    .swiper-slide {
        width: 100%;
        max-width: 296px;
    }

    &__two-card .swiper-slide {
        max-width: 450px;
    }
}

.info-center {
    .swiper-wrapper {
        justify-content: center;
    }

    &__ctoggleButton {
        width: 100%;
        max-width: 26px;
        height: 26px;
        background-size: contain;
    }

    &__toggle {
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    &__filters-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__filters {
        // padding-right: 125px;
        // padding-right: 55px;

        // @include bp(lg) {
        //     padding-right: unset;
        // }
    }

    &__filters-block {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }
}

.basket {

    &__block {
        display: flex;

        @include bp(lg) {
            flex-direction: column;
            // gap: 46px;
        }
    }

    &__btn-counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__cards {
        display: flex;
        flex-direction: column;
    }

    &__item-card {
        display: flex;
        gap: 54px;

        @include bp(sm) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__image {
        width: 100%;
        max-width: 270px;

        @include bp(sm) {
            max-width: 400px;
        }
    }

    &__txt-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card-icons {
        display: flex;
        gap: 24px;
    }

    &__price-counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card-counter {
        display: flex;
        gap: 16px;
    }

    &__card-plus,
    &__card-minus {
        cursor: pointer;
    }

    &__result {
        padding: 32px;

        @include bp(md) {
            padding: 16px;
        }
    }

    &__result-beetwen {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__result .button-block {
        width: 100%;

        .button-block__white-large {
            width: 100%;
            justify-content: center;
            padding: 12px 0;
        }
    }
}

.comparison {

    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.footer {

    &__menu {
        width: 100%;
        max-width: 1260px;
        display: flex;
        justify-content: space-between;

        a {
            &:hover {
                color: var(--text-hover);
            }
        }
    }

    &__main {
        display: flex;

        @include bp(md) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__ul {
        display: flex;
        flex-direction: column;
    }

    &__social {
        display: flex;
        gap: 16px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        @include bp(md) {
            flex-direction: column;
            gap: 16px;
        }
    }
}

.form-popup {
    transform: translateX(100%);
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    max-width: 795px;
    height: 100vh;
    padding: 64px;
    background: #FFFCF5;

    @include bp(md) {
        padding: 16px;
    }

    .form {
        padding: 0;
        background: unset;
    }

    .form__top {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__close {
        text-align: right;
        cursor: pointer;
    }

    /* Цвет фона полосы прокрутки */
    &::-webkit-scrollbar {
        width: 10px;
        /* Ширина полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        /* Цвет фона полосы прокрутки */
    }

    /* Цвет самой полосы прокрутки */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
        /* Цвет самой полосы прокрутки */
    }
}

.chips {
    .swiper-wrapper {
        padding: 1px;
        // padding-top: 1px;
        // padding-bottom: 1px;
    }

    .swiper-slide {
        width: auto;
    }

    &__item {
        display: flex;
        // gap: 10px;
        // padding: 0 24px;
        // border-right: 1px solid #BDBDBD;
        // border-left: 1px solid #BDBDBD;
        cursor: pointer;
    }

    &__border {
        // width: 100%;
        height: 36px;
        // padding-right: 14px;
        border-left: 1px solid #BDBDBD;
    }

    &__ul {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 24px;
    }

    &__li {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #4F4F4F;
    }
}

.popup-shadow {
    display: none;
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Дополнительные стили

.no-scroll {
    overflow: hidden;
    height: 100%;
}